<%= stylesheet_link_tag "open_id.css" %>
<h2><%= t("login_as_existing") %></h2>

<% form_remote_tag :url => user_session_path, :loading => '$user_session.loading();', :loaded => '$user_session.loaded();', :interactive => '$user_session.interactive();', :success => '$user_session.success();', :failure => '$user_session.failure();', :complete => '$user_session.complete();' do  %>
  <%= yield :ajax_login_return_to %>
  
  <div id='password-credentials'>
    <p>
      <%= label :user_session, :login, t("email") %><br />
      <%= text_field :user_session, 'login', :class => 'title' %>
    </p>
    <p>
      <%= label :user_session, :password, t("password") %><br />
      <%= password_field :user_session, 'password', :class => 'title' %>
    </p>
  </div>
  <% if Spree::Config[:allow_openid] %>
    <div id='openid-credentials' style="display:none">
      <p>
        <%= label :user_session, :openid_identifier, t('OpenID', :default => 'OpenID') %><br /> 	
        <%= text_field :user_session, :openid_identifier, :class => "openid_url", :size => 28 %>
      </p>
    </div>
  <% end %>
  <p>
  	<label>
      <%= check_box :user_session, :remember_me %>
      <%= label :user_session, :remember_me, t('remember_me') %>
    </label>
  </p>

  <p><%= submit_tag t("log_in"), :class => 'button primary'%></p>

<% end %>

<% if Spree::Config[:allow_openid] %>
  <hr />
  <p id='enable_login_via_openid'><a href='#'><%= t :enable_login_via_openid %></a></p>
  <p id='enable_login_via_login_password' style="display:none"><a href='#'><%= t :enable_login_via_login_password %></a></p>
  <%= javascript_include_tag 'open_id' %>
<% end %>

<%= t("or") %> 
<%= link_to_function t("create_a_new_account"), '$user_session.signup_form();' %> | 
<%= link_to_function t("forgot_password"), '$user_session.forgot_form();' %> |
<%= link_to_function t("cancel"), '$user_session.cancel();' %>
